.header {
    position: relative;
    top: -10px;
    background-color: #00A0B0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  height: 40px;
}

h1 {
    /*font-family: 'Arvo', Georgia, Times, serif;*/
    color: #FFFFFF;

}


#score {
  position: relative;
  margin-left: 100px;
}

#usernameheader {
  position: relative;
  margin-left: 100px;
}

.allQuestion {
  display: none;
}

#popup {
  display: none;
}



.form {
    font-family: Verdana, Arial, sans-serif;
}

.question {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;

}

.answers {
    font-family: Verdana, Arial, sans-serif;
    color: #777;

}


.wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #444;

  font-family: 'PT Sans', Helvetica, Arial, sans-serif;

    font-size: 1em;
}

#inputs {
  width: 200px;
  clear: both;
}

#inputs input {
  width: 100%;
  clear: both;
}

#back {
  display: none;

}